---
layout: default
page_class: "home"
description: "Welcome to the Amsterdam Ruby meetup group! RSVP for our next event or catch up on the last event."
livestream_link: ""
meetup_link: "https://www.meetup.com/amsterdam-rb/"
---

<section class="hero" id="hero">
  <div class="color-overlay">
    {% include header.html %}
    <div class="dark-content">
      <div class="wrap">
        <h1 class="highlight">
          <div class="logo"><img src="/assets/images/logo.svg" alt=""></div>Amsterdam.rb
        </h1>
        <p>The Amsterdam Ruby meetup group</p>
      </div>
    </div>
  </div>
</section>

<main>
  {% comment %}
  To make the YouTube livestream visible, update the `livestream_link` variable at the top page. If the variable value is an empty string, the video will be hidden.
  {% endcomment %}
  {% if page.livestream_link != "" %}
  <section class="livestream light-content" id="livestream">
    <div class="wrap">
      <h2 class="big">Last meetup recording</h2>

      <iframe width="746" height="420" src="{{ page.livestream_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Future and past meetups can be found on the <a href="{{ site.youtube_channel_url }}">Ruby NL YouTube channel</a>.</p>
    </div>
  </section>
  {% endif %}

  <section class="meetup2 light-content content-with-shadow" id="meetup">
    <div class="wrap">
      <h2 class="big">Next meetup</h2>
      <!-- <p class="date">18th of June, 2024</p> -->
      <!-- <p>Location: <a href="https://maps.app.goo.gl/ziU3LV7ohcPGWzZeA">BetterUp, Jozef Israëlskade 46, Amsterdam</a></p> -->
      <div class="text-content">
        <p>Hello Rubyists!</p>

        <p>We're on winter stop and planning the next events. Watch this space or Meetup.com for updates.</p>

        <p>Cheers,</p>
        <p>Tom, Arno and Aidan</p>

        <p>PS. If you are interested in giving a talk, let us know. Learn more about <a href="/speakers/">giving a talk at Amsterdam.rb</a>.</p>
      </div>

      {% comment %}
      To update the meetup link, change the `meetup_link` variable at the top of the page. If the variable value is an empty string, the link will be hidden.
      {% endcomment %}
      {% if page.meetup_link != "" %}
      <div class="button-group text-right">
        <a class="button" href="{{ page.meetup_link }}">Join the Meetup</a>
      </div>
      {% endif %}

      <div class="text-content">
        <p><em>PS. Are you interested in giving a talk at one of our events? Check out our <a href="/speakers">"Give a talk!" page</a> and send us your idea!</em></p>
      </div>
    </div>
  </section>
</main>
