<section class="footer dark-content" id="footer">
  <div class="wrap">
    <h2 class="big">Join <span class="highlight">Us</span></h2>

    <div class="text-content">
      <p>Help organize, stay in touch, and talk Ruby with all your Amsterdam.rb friends!</p>
      <p>This community has a <a href="/code-of-conduct/">Code of Conduct</a>. By participating in this project you agree to abide by its terms.</p>
    </div>

    <div class="button-group text-right">
      <a class="button" href="{{ site.slack_app }}">Join us on Slack</a>
      <a class="button" href="https://twitter.com/amsrb">Follow on Twitter</a>
      <a class="button" href="{{ site.youtube_channel_url }}">Ruby NL on YouTube</a>
    </div>
  </div>

  <div class="wrap">
    <div class="footer-links text-content">
      <p class="big">Links</p>
      <ul>
        <li><a href="/contact/">Contact us</a></li>
        <li><a href="/speakers/">Give a talk!</a></li>
        <li><a href="{{ site.slack_app }}">Slack community</a></li>
        <li><a href="{{ site.youtube_channel_url }}">Ruby NL YouTube channel</a></li>
        <li><a href="{{ site.meetup_url }}">Amsterdam.rb Meetup group</a></li>
        <li><a href="https://twitter.com/amsrb">Twitter @amsrb</a></li>
        <li><a href="https://github.com/amsrb">GitHub @amsrb</a></li>
      </ul>
    </div>
  </div>
</section>
