<header class="header">
  <div class="wrap">
    <h1><a href="/"><img src="/assets/images/logo.png" alt="Amsterdam.rb logo" /></a></h1>
    <p>We aim at promoting all the aspects of the Ruby programming language and at fostering a vivid Ruby community in the Amsterdam region.</p>

    <nav class="navigation">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/jobs/">Jobs</a>
        </li>
        <li>
          <a href="/sponsors/">Sponsors</a>
        </li>
        <li>
          <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
