<section id="slack">
  <h1 class="tag">
    <span class="tagleft"></span>
    <span class="text">
      <span>Psssssst! Join the Slack Group!</span>
    </span>
    <span class="tagright"></span>
  </h1>
  <div id="joinslack" style="text-align: center">
    <p>Join our public Slack community to help organize, stay in touch, and talk
      Ruby with all your Amsrb friends!</p>
    <p><a class="button" style="margin-top: 1rem" href="https://amsrbslack.herokuapp.com/">Join the chatter!</a></p>
  </div>
</section>
