<section id="slack">
  <h1 class="ribbon">
    <span class="ribbon-content">Psssssst! Join the Slack Group!</span>
  </h1>
  <div id="joinslack" style="text-align: center">
    <p>Help organize, stay in touch, and talk Ruby with all your Amsrb friends!</p>
    <p><a class="button" style="margin-top: 1rem" href="https://amsrbslack.herokuapp.com/">Join Slack!</a></p>
    <p>Please note that this project is released with a <a href="/code-of-conduct/">Contributor Code of Conduct</a>. By participating in this project you agree to abide by its terms.</p>
  </div>
</section>
