<section class="supporters light-content" id="supporters">
  <div class="wrap">
    <h2 class="big">Our <span class="highlight">supporters*</span></h2>
  </div>

  <div class="wrap-medium">
    <ul class="no-style">
      <li>
        <a href="https://www.wetravel.com/">
          <div class="image-box">
            <img src="/assets/images/logo/wetravel.jpg" alt="WeTravel" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.github.com/">
          <div class="image-box">
            <img src="/assets/images/logo/github.png" alt="GitHub" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.wetransfer.com/">
          <div class="image-box">
            <img src="/assets/images/logo/wetransfer.png" alt="WeTransfer" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://appsignal.com/">
          <div class="image-box">
            <img src="/assets/images/logo/appsignal.svg" alt="AppSignal" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.zilverline.com/">
          <div class="image-box">
            <img src="/assets/images/logo/zilverline.png" alt="Zilverline" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.adcombi.com/">
          <div class="image-box">
            <img src="/assets/images/logo/adcombi.png" alt="adcombi" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://themainingredient.co/">
          <div class="image-box">
            <img src="/assets/images/logo/the-main-ingredient.png" alt="The Main Ingredient" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://upcloud.com/">
          <div class="image-box">
            <img src="/assets/images/logo/upcloud.svg" alt="UpCloud" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.catawiki.com/">
          <div class="image-box">
            <img src="/assets/images/logo/catawiki.png" alt="Catawiki" />
          </div>
        </a>
      </li>
    </ul>

    <div class="wrap text-content">
      <p>*: Companies who have supported us in our most recent events. Join them and <a href="/sponsorships/">become one of our supporters</a>.</p>
    </div>
  </div>
</section>
