// Variables.
$font-color: black        // Black
$link-color: #990000      // Red
$border-color: #cecece    // Soft grey
$grey-color: #515151      // Grey
$dark-color: #1a1a1a      // close to black color
$font-family: Helvetica, Arial, sans-serif
$leckerli: 'Leckerli One', cursive
$abel: 'Abel', sans-serif
$font-size: 1.3em

@import "reset"
@import "typography"

html
  box-sizing: border-box
*,
*:before,
*:after
  box-sizing: inherit

@mixin hide
  left: -9999px
  position: absolute

@mixin data-uri-bg($image, $properties: false)
  @if $properties != false
    background: inline-image($image) $properties
    *background: url($image) $properties
  @else
    background: inline-image($image)
    *background: url($image)

// Generic styling.
html,
body
  width: 100%
  height: 100%

html
  overflow-y: scroll

body
  font-family: $font-family
  font-size: 62.5%
  line-height: 20px
  color: $font-color
  background: #fff

// Form styling.
input,
textarea
  font-family: $font-family
  font-size: $font-size
  color: $font-color

input[type="submit"],
button
  cursor: pointer
  overflow: visible

section > h1
  margin-bottom: 15px
  font-family: $leckerli

section
  margin-bottom: 40px
  &:last-of-type
    margin-bottom: 0

.button
  padding: 8px 10px 7px 10px
  display: inline-block
  font-size: 1.5em
  font-weight: bold
  text-transform: uppercase
  color: #fff
  text-shadow: #4f0608 1px 1px 1px
  background-color: #a00c07
  background: linear-gradient(#db4b54, #a00c07)
  border: 1px solid #a00c07
  border-radius: 4px

  &:hover
    box-shadow: 0 2px 5px #4f0608 inset
    transition: all 0.2s ease-out

.wrap
  max-width: 960px
  margin: 0 auto
  padding: 0 10px

.post
  padding: 20px 0

  .logo
    padding: 20px 0

li.job
  margin-bottom: 10px
  h2
    margin-bottom: 10px
    font-size: 1.5em
    text-align: center
    text-transform: uppercase
    color: $grey-color

  ul
    margin-bottom: 20px

  li
    padding: 5px
    border-bottom: dashed 1px $border-color

    &:hover
      background: #f5e5e5

  a
    color: $font-color

    span
      display: block
      color: $link-color

#jobs
  clear:  left
  &:after
    content: ""
    clear: both
    display: block

  a.button
    float: right

  > h1
    margin-bottom: 25px

  ul
    overflow: hidden
    margin: 0 0 20px 0

  li
    width: 100%
    min-height: 110px
    float: left
    background: #e7e7e7
    border: solid 1px #e7e7e7

    a
      display: block
      overflow: hidden

    img
      padding: 25px
      padding-right: 0
      float: left
      max-width: 200px

    .jobtitle
      float: left
      font-family: $abel
      font-size: 2.5em
      line-height: 55px
      padding: 0 25px

    abbr
      display: none

    &:hover
      border-color: $border-color
      box-shadow: $border-color 0 0 10px inset

      img
        opacity: 1

.post.job
  margin: 0 80px 20px 80px
  @media (max-width: 650px)
    margin: 0 20px 20px 20px

  h1
    padding-top: 10px
    padding-bottom: 10px
  h1.title
    float: left
  a.button
    float: right
  .date
    clear: both
  h2
    padding-top: 10px
    padding-bottom: 10px
    font-size: 20px
  p
    margin-top: 20px
    margin-bottom: 20px

.clear
  clear: both

@import "components/header"
@import "components/footer"
@import "components/ribbon"
@import "modules/meetup"
@import "modules/supporters"
@import "modules/code_of_conduct"
@import "modules/slack"
