.meetup
  position: relative
  background:
    image: url(/assets/images/background.jpg)
    repeat: no-repeat
    position: center
    size: cover

  .color-overlay
    background: rgba(45, 19, 44, 0.94)

  h1
    margin: 0

    .logo
      position: relative
      top: 10px
      display: inline-block
      margin-left: -103px // width + padding
      margin-right: 24px

      img
        display: block
        width: 79px
        height: 60px

  h2
    margin: 0

  img
    max-width: 100%

  p
    font-weight: 600

  .date
    margin-bottom: 20px
    font-size: 40px
    font-weight: bold

    @media (max-width: 790px)
      font-size: 22px

.program
  .entry
    margin-bottom: 24px

  .time,
  .entry-name
    font-size: 24px

  .time
    font-weight: 900
    font-feature-settings: "tnum"
    font-variant-numeric: tabular-nums
  .entry-name
    color: $highlight-color
    font-weight: bold
  .title
    font-size: 32px
    font-weight: bold
  .entry-name + .title
    margin-top: 24px

  .details
    // TODO: position this better with a grid or flexbox
    position: relative
    top: -20px
    margin-left: 220px
    padding-left: 79px
    border-left: 1px solid #817180

  p
    margin-top: 24px
