.meetup
  .meetup-box
    position: relative

  .details
    margin: 0 auto
    width: 75%
    background: #fff

    h2
      font-family: $abel
      font-size: 4em
      line-height: 1

  h2,
  .date-loc,
  .content
    padding: 20px

  .date-loc
    padding:
      top: 10px
      bottom: 10px
    width: 100%
    font-family: $abel
    border-top: dashed 1px $border-color
    border-bottom: dashed 1px $border-color

    .date
      font-size: 2.5em

    .loc
      margin-top: 5px
      font-size: 1.5em

  .content
    padding-bottom: 40px

    p
      margin-bottom: 10px

      &:last-child
        margin: 0

    em
      font-style: italic

    strong
      font-weight: bold

  .button
    position: absolute
    right: 20px
    bottom: 0

  @media (max-width: 750px)
    .details
      width: 100%

  @media (max-width: 500px)
    .button-wrapper
      text-align: center

    .button
      position: static
