.supporters
  margin-bottom: 20px
  clear: left

  ul
    overflow: hidden

  li
    float: left
    margin: 0 0 1.965% 1.965%
    width: 22.595%
    min-height: 110px
    background-color: #e7e7e7
    border: 1px solid #e7e7e7

    @media (max-width: 880px)
      width: 47.5%

    &:hover
      border-color: $border-color
      box-shadow: $border-color 0 0 10px inset

  .image-box
    width: 100%
    min-height: 110px
    position: relative
    text-align: center
    line-height: 110px
    overflow: hidden

    img
      max-width: 90%
      vertical-align: middle
