---
layout: default
title: Jobs
description: "Checkout out job openings posted by the Amsterdam Ruby community and find your next adventure!"
---

<section class="jobs light-content content-with-shadow">
  <div class="wrap">
    <h1>Jobs</h1>

    {% if site.posts.size == 0 %}
      <p>No jobs posted currently.</p>
    {% else %}
      <ul>
        {% for post in site.posts %}
          {% if post.category == "job"%}
            <li>
              <a href="{{ post.url }}">
                <img src="/assets/images/logo/{{post.logo}}">
                <div class="job-title">
                  <div class="job-heading">{{ post.title }}</div>
                  <div class="company-slogan"><b>{{ post.company }}</b> - {{ post.slogan }}</div>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    <div class="button-group text-right">
      <a href="/sponsorships/" class="button">
        Add job posting
      </a>
    </div>
  </div>
</section>
