.button
  display: inline-block
  padding: 15px 30px
  color: #FFFFFF
  font-size: 1.1em
  font-weight: bold
  text-shadow: #4f0608 1px 1px 1px
  text-decoration: none
  text-align: center
  line-height: 1.1em

  background-color: #FD2846
  border-radius: 4px

  & + .button
    margin-left: 24px

  &:hover
    background-color: #AD3540
    transition: all 0.2s ease-out
    text-decoration: none

.button-group
  margin: 40px 0

  &.flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .button
      width: calc(50% - 10px)
      margin: 0 0 20px 0

  &:last-child
    margin-bottom: 0

@media (max-width: 780px)
  .button-group
    margin: 20px 0
    text-align: center

    &.flex
      display: block

      .button
        width: 100%

  .button + .button
    margin: 20px 0

  .button
    display: block
    text-align: center

    &:last-child
      margin-bottom: 0
