.header
  border-bottom: 1px solid #574256

  .wrap
    padding: 0
    display: flex
    align-items: flex-end
    height: 100px
    @media (max-width: 775px)
      height: auto

  .logo
    display: inline-block
    margin: 0 0 0 -69px
    height: 60px

    a
      display: flex
      align-items: center
      padding: 10px
      text-decoration: none

    img
      display: inline-block
      width: 100%
      max-width: 40px
      width: 40px
      max-height: 30px
      height: 30px

    .logo-text
      display: inline-block
      margin-left: 15px
      color: #FFF
      font-size: 1.5em
      font-family: $changa

      @media (min-width: $mobile-navigation-width)
        display: none

  &.without-logo-text
    .logo-text
      display: none

  &.without-logo
    .logo
      display: none
    nav
      margin-left: -12px
      @media (max-width: $mobile-navigation-width)
        margin-left: 0

  @media (max-width: 940px)
    .wrap
      padding-left: 0
    .logo a
      padding-left: 0
    .logo
      margin-left: 0

  @media (max-width: 790px)
    .wrap
      padding-left: 20px

  @media (max-width: $mobile-navigation-width)
    height: 58px
    background-color: $dark-background

    .wrap
      display: flex
      align-items: center
      height: 100%

    .logo
      height: auto

.home .header
  background-color: transparent
  border-bottom-color: transparent

  @media (max-width: $mobile-navigation-width)
    background-color: transparent
