.header
  border-bottom: 1px solid #574256

  .wrap
    padding: 0
    display: flex
    align-items: flex-end
    height: 100px

  .logo
    display: inline-block
    margin: 0 0 0 -69px
    height: 60px

    a
      display: block
      padding: 10px

    img
      display: block
      width: 100%
      max-width: 40px
      width: 40px
      max-height: 30px
      height: 30px

  &.without-logo
    .logo
      display: none
    nav
      margin-left: -12px

  @media (max-width: 940px)
    .wrap
      padding-left: 0
    .logo a
      padding-left: 0
    .logo
      margin-left: 0

  @media (max-width: 790px)
    .wrap
      padding-left: 20px

  @media (max-width: 600px)
    height: 58px
    background-color: $dark-background

    .wrap
      display: flex
      align-items: center
      height: 100%

    .logo
      height: auto

.home .header
  background-color: transparent
  border-bottom-color: transparent

  @media (max-width: 600px)
    background-color: transparent
