<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Amsterdam.rb</title>
    <link href="/assets/stylesheets/site.css" media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <script src="/assets/javascripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3300381-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <header id="header">
      <div class="wrap">
        <h1 id="logo"><a href="/"><img src="/assets/images/logo.png" alt="Amsterdam.rb" /></a></h1>
        <p id="intro">We aim at promoting all the aspects of the Ruby programming language and at fostering a vivid Ruby community in the Amsterdam region.</p>
        <ul id="socnet">
          <li><a class="twitter" href="http://twitter.com/amsrb">twitter</a></li>
          <li><a class="github" href="https://github.com/amsrb">github</a></li>
        </ul>
      </div>
    </header>

    <div class="wrap">
      <div id="main">

        <section id="meetup">
          <h1 class="tag">
            <span class="tagleft"></span>
            <span class="text">
              <span>Next Meet-Up<span> Point</span></span>
            </span>
            <span class="tagright"></span>
          </h1>
          <div id="map">
            <div id="company">
              <h2>Ruby Hack Night</h2>
              <div class="date-loc">
                <p class="date">August 21, 2012</p>
                <p class="loc"><a href="http://www.springest.nl/">Springest</a> (Rokin 75)</p>
              </div>
              <div class="content">
                <p>On Tuesday, August the 21st we're having our first Ruby Hack Night at <strong><a href="http://www.springest.nl/">Springest</a></strong> (Rokin 75). We'll start at 19:00 and our event host Springest will provide us with food and drinks!</p>
                <p>Work on your own project, hack on open-source, help out others or lead a BoF session (Birds of a Feather). Let us know what you plan to do when RSVP'ing and we'll try to come up with some sort of organized chaos (it's okay to change your mind on the spot).</p>
                <p><em>There are only 40 spots available, so expect this one to sell out (yes, it's free and there will be a waiting list).</em></p>
              </div>
              <a class="button" href="http://www.meetup.com/Amsterdam-rb/events/73524272/">Sign up at Meetup</a>
            </div>
            <div class="mapbox"><a href="http://maps.google.nl/maps?q=Springest,+Rokin+75,+Amsterdam&amp;hl=nl&amp;sll=52.469397,5.509644&amp;sspn=3.87879,3.779297&amp;hq=Springest,&amp;hnear=Rokin+75,+Amsterdam,+Noord-Holland&amp;t=m&amp;z=17"><img src="http://maps.googleapis.com/maps/api/staticmap?center=52.3699809,4.8967959&amp;zoom=14&amp;size=940x505&amp;sensor=false&amp;markers=color:blue|Rokin 75, Amsterdam" alt="map" /></a></div>
          </div>
        </section>

        <section id="supporters">
          <h1 class="tag">
            <span class="tagleft"></span>
            <span class="text">
              <span><span>Our Awesome </span>Supporters</span>
            </span>
            <span class="tagright"></span>
          </h1>
          <ul>
            <li>
              <a href="http://www.80beans.com/"><div class="image_box">
                <img src="/assets/images/logo/80beans.png" alt="80beans" />
              </div>
              </a>
            </li>
            <li>
              <a href="http://travis-ci.org/"><div class="image_box">
                <img src="/assets/images/logo/travis.png" alt="Travis CI" />
              </div>
              </a>
            </li>
            <li>
              <a href="http://www.publitas.com/"><div class="image_box">
                <img src="/assets/images/logo/publitas.png" alt="Publitas" />
              </div>
              </a>
            </li>
            <li>
              <a href="http://www.springest.nl/"><div class="image_box">
                <img src="/assets/images/logo/springest.png" alt="Springest" />
              </div></a>
            </li>
          </ul>
        </section>

      </div>
    </div>

    <footer id="footer" class="wrap">
      <p>Contact us: <a href="mailto:contact@amsrb.org">contact@amsrb.org</a>.</p>
    </footer>
  </body>
</html>
