<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Amsterdam.rb</title>
    <link href="/assets/stylesheets/site.css" media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <script src="/assets/javascripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3300381-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <header id="header">
      <div class="wrap">
        <h1 id="logo"><a href="/"><img src="/assets/images/logo.png" alt="Amsterdam.rb" /></a></h1>
        <p id="intro">We aim at promoting all the aspects of the Ruby programming language and at fostering a vivid Ruby community in the Amsterdam region.</p>
        <ul id="socnet">
          <li><a class="twitter" href="http://twitter.com/amsrb">twitter</a></li>
          <li><a class="github" href="https://github.com/amsrb">github</a></li>
        </ul>
      </div>
    </header>

    <div class="wrap">
      <div id="main">

        <section id="meetup">
          <h1 class="tag">
            <span class="tagleft"></span>
            <span class="text">
              <span>Our meet-up point</span>
            </span>
            <span class="tagright"></span>
          </h1>
          <div id="map">
            <div id="company">
              <h2>80beans</h2>
              <div class="date-loc">
                <p class="date">June 19, 2012</p>
                <p class="loc">Vijzelstraat 72 - 2.38, Amsterdam at 19:00</p>
              </div>
              <div class="content">
                <p>After being dormant for a while the Amsterdam Ruby User Group is back! On June 19 we will kick-off with "Amsterdam.rb Reboot" at the 80beans office, which will hopefully be the first of a long line of regular events.</p>
                <p>Josh Kalderimis will introduce the current team running Ams.rb, what we have planned for the near future and how <em>you</em> can contribute. Right after we have three lightning talks lined up.</p>
                <p>Of course there's plenty of time for socializing and 80beans will be providing us with drinks and snacks. We can handle about 80 people, so make sure to sign up!</p>
              </div>
              <a class="button" href="http://www.meetup.com/Amsterdam-rb/events/59950942/">Sign up at Meetup</a>
            </div>
            <div class="mapbox"><a href="http://maps.google.nl/maps?q=80beans,+vijzelstraat+72,+amsterdam&amp;hl=nl&amp;sll=52.469397,5.509644&amp;sspn=3.87879,3.779297&amp;hq=80beans,&amp;hnear=Vijzelstraat+72,+Binnenstad,+Amsterdam,+Noord-Holland&amp;t=m&amp;z=17"><img src="http://maps.googleapis.com/maps/api/staticmap?center=52.3629809,4.8917959&amp;zoom=11&amp;size=940x505&amp;sensor=false&amp;markers=color:blue|vijzelstraat 72 amsterdam" alt="map" /></a></div>
          </div>
        </section>

        <section id="supporters">
          <h1 class="tag">
            <span class="tagleft"></span>
            <span class="text">
              <span>Our awesome supporters</span>
            </span>
            <span class="tagright"></span>
          </h1>
          <ul>
            <li>
              <a href="http://www.80beans.com/"><div class="image_box">
                <img src="/assets/images/logo/80beans.png" alt="80beans" />
              </div>
              </a>
            </li>
            <li>
              <a href="http://travis-ci.org/"><div class="image_box">
                <img src="/assets/images/logo/travis.png" alt="Travis CI" />
              </div>
              </a>
            </li>
            <li>
              <a href="http://www.publitas.com/"><div class="image_box">
                <img src="/assets/images/logo/publitas.png" alt="Publitas" />
              </div>
              </a>
            </li>
            <li>
              <a href="mailto:roy@tomeij.net"><div class="image_box">You?</div></a>
            </li>
          </ul>
        </section>

      </div>
    </div>
  </body>
</html>
