<!DOCTYPE html>
<html class="js-html">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
      {% if page.title == nil %}
      {{ site.site_title }}
      {% else %}
      {{ page.title }} - {{ site.site_title }}
      {% endif %}
    </title>
    <link href="/assets/stylesheets/site.css" media="screen" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3300381-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body class="js-body {{ page.page_class }}">
    {% if page.page_class != "home" %}
      {% include header.html %}
    {% endif %}
    <div id="main">
      {{ content }}
      {% include supporters.html %}
    </div>
    {% include footer.html %}

    <script src="/assets/javascripts/app.js" async></script>
  </body>
</html>
