---
layout: default
title: AMS RB
---
        <section id="vacatures">
  <h1 class="tag">
    <span class="tagleft"></span>
    <span class="text">
      <span>Vacatures</span>
    </span>
    <span class="tagright"></span>
  </h1>
<ul>
    {% for post in site.posts %}
        {% if post.category == "vacature"%}
        <li class="vacature">
            <a href="{{ post.url }}">
                <img src="/assets/images/logo/{{post.logo}}"/>
                <div class="jobtitle">{{ post.job_title }}</div>
                <div class="company_tagline">{{ post.company }}</div>
            </a>
            <abbr>{{ post.date | date_to_string }}</abbr>

        </li>

        {% endif %}
    {% endfor %}
</ul>
</section>